In [1]:
data = [[
    'type',
    'category',
    'serivce_id',
    'business_id',
    'sender',
    'recipient',
    'created_year',
    'created_month',
    'created_day',
    'created_hour',
    'created_minute',
    'created_second',
    'completed_year',
    'completed_month',
    'completed_day',
    'completed_hour',
    'completed_minute',
    'completed_second',
    'expired',
    'status',
    'amount'
]]

In [2]:
import random
import string

def randomStringDigits(stringLength=6):
    lettersAndDigits = string.ascii_letters + string.digits
    return ''.join(random.choice(lettersAndDigits) for i in range(stringLength))

In [3]:
type_list = [0, 1, 2, 3,]
category_list = [0, 1, 2, 3,]
service_id_list = [0,1,2,3,4,5,6,7,8,9,10,11,12,13,14,15,17,7,99,216,217,18,21,22]

expired_list = [0,1]
status_list = [0,1,2]

In [4]:
import random 
from datetime import datetime

def randTime():
    ranH = random.randint(0,10)
    ranM = random.randint(10,59)
    ranS = random.randint(10,59)
    ranM = random.randint(1, 12)
    ranD = random.randint(1, 30)
    
    if(ranM <= 2):
        SranM = ranM +50
    else:
        SranM = ranM - 2 
        
        
    timeS = datetime(2019, ranM, ranD, ranH, SranM, ranS, 0)
    timeS_year = timeS.year
    timeS_month = timeS.month
    timeS_day = timeS.day
    timeS_hour = timeS.hour
    timeS_minute =timeS.minute
    timeS_second = timeS.second
    
    timeE = datetime(2019, ranM, ranD, ranH, ranM, ranS, 0)
    timeE_year = timeE.year
    timeE_month = timeE.month
    timeE_day = timeE.day
    time_hour = timeE.hour
    timeE_minute = timeE.minute
    timeE_second = timeE.second
    
    
    return ( timeS_year,
             timeS_month,
             timeS_day,
             timeS_hour,
             timeS_minute,
             timeS_second,
             timeE_year,
             timeE_month,
             timeE_day,
             time_hour,
             timeE_minute,
             timeE_second)

In [5]:
def generate():
    for x in range(11):
        created_year, created_month, created_day, created_hour, created_minute, created_second, completed_year, completed_month, completed_day, completed_hour, completed_minute, completed_second, = randTime()
        type = type_list[random.randrange(len(type_list))]
        category = category_list[random.randrange(len(category_list))]
        service_id = service_id_list[random.randrange(len(service_id_list))]
        status = status_list[random.randrange(len(status_list))]
        expired = expired_list[random.randrange(len(expired_list))]
        amount = round(random.uniform(50.0,5000.5), 2)
        
        business_id = randomStringDigits()
        sender = randomStringDigits()
        recipient = randomStringDigits()
        
        data.append([type, category, service_id, business_id, sender, recipient, created_year, created_month, created_day,
                     created_hour, created_minute, created_second, completed_year, completed_month, completed_day, 
                     completed_hour, completed_minute, completed_second, expired, status, amount])

In [6]:
generate()

In [7]:
import csv
with open('data.csv', 'w') as csvFile:
    writer = csv.writer(csvFile)
    writer.writerows(data)
    
csvFile.close()

In [8]:
import pandas as pd
data = pd.read_csv('data.csv', header=0)

In [9]:
data.head()

,type,category,serivce_id,business_id,sender,recipient,created_year,created_month,created_day,created_hour,...,created_second,completed_year,completed_month,completed_day,completed_hour,completed_minute,completed_second,expired,status,amount
0,3,1,13,FovUQO,g28SQX,NObqHD,2019,8,21,8,...,15,2019,8,21,8,8,15,0,1,4920.79
1,3,3,217,HRrHye,DZrPlq,G3gTKt,2019,2,4,8,...,26,2019,2,4,8,2,26,1,0,867.28
2,2,1,8,884cSz,mc704J,zSIXpv,2019,7,20,8,...,31,2019,7,20,8,7,31,1,1,3341.84
3,1,1,7,cnSyQ7,DZ4Dkt,BshPeL,2019,10,22,7,...,40,2019,10,22,7,10,40,1,2,3926.29
4,2,2,22,OjzWoH,Q8H0uB,kynxJX,2019,3,7,8,...,42,2019,3,7,8,3,42,0,0,3936.90